<header [ngStyle]="{
    display:'flex',
    background:'red',
    height:'75px',
    width:'100%',
    justifyContent:'space-evenly',
    fontSize:'45px'
}">
    <h2 [ngStyle]="{outline:'none',color:'white',
    textShadow:'1px 1px black',textDecoration:url === '/' ? 'underline black':'none'}" routerLink='/'>Pokedex</h2>
    <h2 [ngStyle]="{outline:'none',color:'white',
    textShadow:'1px 1px black',textDecoration:url === '/pokemon' ? 'underline black':'none'}" routerLink='/pokemon'>Random</h2>
</header>
