<!-- <div>
    <div [ngStyle]="{
    postion:'absolute',
    top:PosY_u,
    left:PosX_u,
    height:'160px',
    width:'100px',
    display:uncaught ? 'block' : 'none'

    }">
        <div class='uncaught-ball-top-top' [ngStyle]="{display:uncaught ? 'block' : 'none'}">
            <div class='uncaught-ball-top-bottom'>
                <div class='uncaught-ball-top-center-ring'></div>
                <div class='uncaught-ball-top-center'>
                    <div class='uncaught-ball-top-center-center'>
                        <div class='uncaught-ball-top-center-center-center'></div>
                    </div>
                </div>
                <div class='uncaught-ball-top-center-left'></div>
            </div>
            <div class='uncaught-ball-top-black-ring'></div>
            <div class='uncaught-ball-top-black-ring-left'></div>
            <div class='uncaught-ball-top-black-ring-left-2'></div>
        </div>
        <div class='uncaught-ball-bottom-bottom' [ngStyle]="{display:uncaught ? 'block' : 'none'}">
            <div class='uncaught-ball-bottom-top'>
                <div class='uncaught-ball-bottom-center'></div>
            </div>
        </div>
    </div> -->

    <div class='full-list' *ngIf='pokemon'>
        <div class='individual' [ngStyle]="{
        outline:'none',
        background:poke.type === 'fire'? 'red' : 
        poke.type === 'water' ?'blue' : 
        poke.type === 'electric' ? 'yellow':
        poke.type === 'grass' ? 'lightgreen':
        poke.type === 'poison' ? 'lavender':
        poke.type === 'psychic' ? 'purple':
        poke.type === 'bug' ? 'darkgreen':
        poke.type === 'ground' ? '#D2691E':
        poke.type === 'fighting' ? '#8B4513':
        poke.type === 'steel' ? 'grey':
        poke.type === 'ice' ? 'lightblue':
        poke.type === 'flying' ? '#E8E8E8':
        poke.type === 'fairy' ? 'pink':
        poke.type === 'rock' ? '#A0522D':
        poke.type === 'dragon' ? 'linear-gradient(red,orange,yellow,green,blue,indigo,violet)':
        'white',
        color:poke.type !== 'normal' && 
        poke.type !== 'flying' &&
        poke.type !== 'poison' &&
        poke.type !== 'grass' &&
        poke.type !== 'electric' &&
        poke.type !== 'fairy' &&
        poke.type !== 'ice' &&
        poke.type !== 'dragon'
        ? 'white':'black'
    }" *ngFor='let poke of pokemon'>
            <h1>{{poke.name && poke.name}} </h1>
            <!-- <h3>{{poke.type}}</h3> -->
            <img (click)="catch(poke.id)" id={{poke.id}} class='tada' [ngStyle]="{height:'100px',width:'100px'}"
                [src]='poke.image && poke.image' alt="">
            <!-- <button [ngStyle]="{
            width:'100px',
            height:'30px',
            'fontSize':'12px'
        }" 
        >View</button> -->
        </div>
        <div id='ball' class='ball' [ngStyle]="{
        top:PosY,
        left:PosX,
        display: ballExist ? 'block':'none' 
    }">
            <div class='ball-center'>
                <div id='center-center' class='center-center'></div>
            </div>
        </div>

    </div>

    <!-- <style>

</style> -->

    <!-- routerLink='/pokemon/{{poke.id && poke.id}}' -->
<!-- </div> -->