.full-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.individual {
    margin:10px;
    border:solid 1px black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:150px;
    height:140px;
    font-size:12px;
    border-radius:16px;
    padding:2px;
}

.button {
    width:100px;
    font-size: 20px;
    height: 30px;
}